<app-navbar></app-navbar>
<div class="jumbotron">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellendus sint magnam nobis hic rerum sunt,
        quidem iusto ipsum consequatur quis, reiciendis dolorum eum id similique incidunt neque voluptatum, ducimus non.
        Libero at delectus, rerum minus praesentium nemo, error maxime voluptatibus ipsum pariatur suscipit doloribus id
        quasi atque. Totam reiciendis sint quae vitae inventore perferendis voluptate dolore pariatur delectus minus
        optio, nesciunt deleniti laudantium eligendi quod obcaecati nam iure cumque nobis ad accusamus saepe qui fugiat
        porro! Quidem vitae eligendi adipisci ex animi quisquam possimus quibusdam reiciendis ullam velit ratione,
        corporis est error laboriosam aliquid, eveniet delectus soluta et iure?</p>
</div>