<app-navbar></app-navbar>
<div class="container-fluid ">


 <div class="wrapper row ">
      
        <div class="col-lg-6">
            <img class="img img-fluid" src="http://rjtmobile.com/grocery/images/{{product.image}}" alt="">
        </div>
        <div class="col-lg-6">
            <br>
            <h2>{{product.productName}}</h2>
            <p>{{product.description}}</p>
            <h2>{{product.price| currency:"INR"}} <s>{{product.mrp| currency:"INR"}}</s></h2><br>
            <button class="btn btn-success">Add to Cart</button>
        </div>
       



</div>
   

</div>